<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      #add-btn{
        box-shadow: none;
      }
    </style>
    <title>Hello, world!</title>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-light bg-dark border-primary">
      <a class="navbar-brand text-light"   href="#">Fyre</a>
      <form class="form-inline my-2 my-lg-0" name="addItem"  id="form-add">
        <input class="form-control mr-sm-2 bg-dark" type="search" id="LOC" placeholder="co-ordinates" aria-label="LOC">
        <input class="form-control mr-sm-2 bg-dark" type="search" id="IP" placeholder="ip-address" aria-label="IP-address">
        <input class="form-control mr-sm-2 bg-dark" type="search" id="ID" placeholder="ID" aria-label="ID">
        <button class="btn btn-outline-success my-2 my-sm-0" id="add-btn" type="submit" >ADD</button>
      </form>
    </nav>
    <div class="row card-deck">
      <%  Data.forEach(function(item){ %>
        <div class="col-sm-6 col-md-4 my-2 ">
      <div class=" card border-white bg-dark">
        <div class="card-body">
          <h5 class="card-title h2 text-light id "><a href="http://maps.google.com/maps?q=loc:<%=item.loc.toString()%>" target="_blank"><%=item.ID%></a></h5>
          <%  if(item.fire){ %>
          <p class="card-text text-light fire h2">fire detected</p>
          <%  }else{ %>
            <p class="card-text text-light h2">no fire detected</p>
          <%  } %>
          <p class="card-text text-light status h2" IP="<%=item.IP%>"><%=item.status%></p>
        </div>
      </div>
    </div>
      <%  }) %>
    </div>

    <script defer src="../views/js/app.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
